<html>
    <head>
        <title>Cat World - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='cat.svg') }}">
    </head>
    <body>
        <nav>
            <a id="logo" href="/">
                <img id="logo-img" src="{{ url_for('static', filename='cat.svg') }}">
            </a>
            {% set navigation_bar = [
                ('/', 'index', 'Home'),
                ('/users', 'users', 'Users'),
                ('/cats', 'cats', 'Cats')
            ] %}
            {% set active_page = active_page | default('index') %}
            <ul id="navigation">
                {% for href, id, caption in navigation_bar %}
                    <li{% if id == active_page %} class="active"{% endif %}>
                        <a href="{{ href }}">{{ caption }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>

        <section>
            {% block content %}
            {% endblock %}
        </section>
    </body>
</html>